body {
    font-family: 'Poppins,  Actor, Adamina';
    margin: 5px;
    background-color: white;
    overflow: scroll;
}

nav {
    display: flex;
    background-image: url(./images/image1.jpg);
}

#topnav {
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

div ul li {
    display: inline;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: x-large;
    padding-right: 30px;
    padding-top: 20px;
    text-shadow: 10px 10px 10px black;
}

#logo {
    width: 80px;
    height: 70px;
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 300px;
}

div ul li a:hover {
    color: red;
    background-color: black;
    padding: 10px;
}

div>.Test-rules {
    margin-left: 250px;
    margin-top: 70px;
}

div #rules-head {
    font-size: 30px;
    margin-left: 200px;
    color: red;
}

div ol li {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

div ol {
    background-color: aqua;
    border-style: double;
    margin-right: 320px;
    margin-left: 40px;
}

div .start-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 50px;
}

div #start-button {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    border-radius: 10px;
    border-color: blue;
    background-color: rgb(240, 50, 50);
}

div #click {
    font-size: 40px;
    font-weight: 900;
}

div #button-content {
    color: white;
    text-decoration: none;
}