body {
    font-family: 'Poppins,  Actor, Adamina';
    margin: 5px;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

div #logo {
    margin-left: 100px;
    margin-top: 30px;
}

div .Login-content {
    margin-left: 120px;
    font-size: large;
    font-weight: 900;
}

div #Login {
    font-size: x-large;
    font-weight: 900;
    color: red;
}

div button {
    background-color: red;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: 900;
    font-size: large;
}