body {
    font-family: 'Poppins,  Actor, Adamina';
    margin: 5px;
    background-color: white;
    overflow: scroll;
}

nav {
    display: flex;
    background-image: url(./images/image1.jpg);
}

#topnav {
    justify-content: space-between;
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
}

div ul li {
    display: inline;
}

div ul li a {
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: x-large;
    padding-right: 30px;
    padding-top: 30px;
    text-shadow: 10px 10px 10px black;
}

#logo {
    width: 80px;
    height: 70px;
    margin-top: 10px;
    margin-left: 30px;
    padding-right: 300px;
}

div ul li a:hover {
    color: red;
    background-color: black;
    padding: 10px;
}

.questions {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.quest-container {
    background-color: aqua;
    margin-right: 20px;
    border-style: solid;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 25%;
    border-color: aqua;
    border-radius: 10px;
    box-shadow: 5px 5px 5px grey;
}

#quest-header {
    border-bottom: 1px solid red;
    font-size: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-weight: 900;
    margin-top: 10px;
}

div #quest {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-style: italic;
}

div #continue-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    color: white;
    border-radius: 10px;
}

div #total-quest {
    margin-top: 70px;
    color: black;
    font-size: 20px;
    font-weight: 900;
    padding-left: 10px;
}

.choices {
    font-size: 20px;
}